Flujo_riego.node
[{"id":"ef7467a9.177588","type":"mqtt in","z":"7e6986d0.51c038","name":"","topic":"riego/#","qos":"2","broker":"9410e839.672cf8","x":241,"y":145,"wires":[["8a22795c.a6cd58"]]},{"id":"8a22795c.a6cd58","type":"debug","z":"7e6986d0.51c038","name":"","active":true,"console":"false","complete":"false","x":480,"y":145,"wires":[]},{"id":"97855dee.00127","type":"inject","z":"7e6986d0.51c038","name":"","topic":"riego/riegoON","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":256,"y":281,"wires":[["5d3bfae6.9406f4"]]},{"id":"5d3bfae6.9406f4","type":"mqtt out","z":"7e6986d0.51c038","name":"","topic":"riego ON","qos":"","retain":"","broker":"9410e839.672cf8","x":446,"y":283,"wires":[]},{"id":"fca20d8c.cadc4","type":"inject","z":"7e6986d0.51c038","name":"","topic":"light","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":189,"y":364,"wires":[["741c3c52.e3cb94"]]},{"id":"741c3c52.e3cb94","type":"mqtt out","z":"7e6986d0.51c038","name":"","topic":"light","qos":"","retain":"","broker":"9410e839.672cf8","x":422,"y":357,"wires":[]},{"id":"9410e839.672cf8","type":"mqtt-broker","z":"","broker":"192.168.1.198","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
